body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.row{
    margin-bottom: 10px;
}
.card{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    margin-right: 10px;    
    border: 1px solid black;    
    background: green;
    text-transform: uppercase;
    cursor: pointer;
    border: 5px solid green;

    font-size: 50px;
    text-align: center;    
}
.card.showing{
    background: white;
    cursor: default;
}
.card.matched{
    background: gray;
    color: darkgray;
    cursor: default;
}
.card.border{
    border: 5px solid red;
}