/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BEM mixins from http://blog.unakravets.com/post/64113156740/sass-3-3-at-root-bem */
/* NOTES:
 *   - This sass sheet uses BEM mixins 
 */
/* line 12, ../sass/_totalrecall.scss */
html {
  height: 100%;
}

/* line 15, ../sass/_totalrecall.scss */
body {
  height: 100%;
  background: url(../images/felt.jpg) repeat;
  font-size: 12px;
  font-family: "Cabin", sans-serif;
}

/* line 21, ../sass/_totalrecall.scss */
h2 {
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
  color: #999;
  margin-bottom: 1rem;
}

/* line 27, ../sass/_totalrecall.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 31, ../sass/_totalrecall.scss */
em {
  font-style: italic;
}

/* line 36, ../sass/_totalrecall.scss */
.header {
  display: table;
  width: 100%;
  height: 10%;
  min-height: 5rem;
  background: #660000;
  box-shadow: 0px 3px 3px black;
}
/* line 5, ../sass/_bem.scss */
.header__title {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-family: "Lobster Two", sans-serif;
  font-size: 4rem;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}

/* line 56, ../sass/_totalrecall.scss */
.messagebar {
  display: table;
  height: 3.5%;
  min-height: 1rem;
  width: 100%;
  background: #666;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
/* line 5, ../sass/_bem.scss */
.messagebar__message {
  display: table-cell;
  vertical-align: middle;
  color: white;
  text-align: center;
}

/* line 74, ../sass/_totalrecall.scss */
.middle {
  width: 100%;
  height: 80%;
  position: relative;
}

/* line 81, ../sass/_totalrecall.scss */
.dialogbox {
  position: absolute;
  z-index: 99;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #111;
}
/* line 12, ../sass/_bem.scss */
.dialogbox--whiteshadow {
  -moz-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
}
/* line 92, ../sass/_totalrecall.scss */
.dialogbox > div, .dialogbox > form {
  box-sizing: border-box;
  height: 100%;
  padding: 24px 30px;
  text-align: center;
}

/* line 102, ../sass/_totalrecall.scss */
.signin {
  background: #660000;
}
/* line 5, ../sass/_bem.scss */
.signin__title {
  margin-bottom: 1rem;
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
  color: white;
}
/* line 112, ../sass/_totalrecall.scss */
.signin__title em {
  font-size: 3rem;
}
/* line 5, ../sass/_bem.scss */
.signin__intro {
  margin-bottom: 1rem;
  color: #ccc;
}
/* line 5, ../sass/_bem.scss */
.signin__text-input {
  vertical-align: top;
  height: 40px;
  padding: 0;
  color: #333;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #333;
}
/* line 5, ../sass/_bem.scss */
.signin__submit {
  box-sizing: border-box;
  vertical-align: top;
  height: 43px;
  padding: 0 15px;
  color: white;
  background: #060;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
}
/* line 142, ../sass/_totalrecall.scss */
.signin__submit:hover {
  background: #030;
}

/* line 150, ../sass/_totalrecall.scss */
.wait {
  display: none;
  vertical-align: middle;
  background: white;
}
/* line 5, ../sass/_bem.scss */
.wait__message {
  margin: 20px 0;
}

/* line 161, ../sass/_totalrecall.scss */
.endgame {
  display: none;
  background: #660000;
}
/* line 5, ../sass/_bem.scss */
.endgame__message {
  color: white;
  font-family: "Lobster Two", sans-serif;
  font-size: 3.5rem;
}
/* line 170, ../sass/_totalrecall.scss */
.endgame__message em {
  color: yellow;
}
/* line 5, ../sass/_bem.scss */
.endgame__submit {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 40px;
  padding: 0 40px;
  color: white;
  background: #060;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
}
/* line 188, ../sass/_totalrecall.scss */
.endgame__submit:hover {
  background: #030;
}

/* line 194, ../sass/_totalrecall.scss */
.gameboard-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 200, ../sass/_totalrecall.scss */
.gameboard {
  display: none;
  left: 0;
  right: 0;
  vertical-align: middle;
  height: 0;
  max-width: 1000px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

/* line 215, ../sass/_totalrecall.scss */
.row {
  margin-bottom: 10px;
}
/* line 218, ../sass/_totalrecall.scss */
.row:last-child {
  margin: 0;
}

/* line 225, ../sass/_totalrecall.scss */
.card {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  max-width: 130px;
  max-height: 200px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 1;
}
/* line 234, ../sass/_totalrecall.scss */
.card:last-child {
  margin-right: 0;
}
/* line 12, ../sass/_bem.scss */
.card--showing {
  cursor: default;
}
/* line 12, ../sass/_bem.scss */
.card--matched {
  opacity: .3;
}
/* line 246, ../sass/_totalrecall.scss */
.card--matched .card__face--front {
  cursor: default;
  color: #999;
}
/* line 5, ../sass/_bem.scss */
.card__face {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-perspective: 600px;
  -webkit-perspective: 600px;
  perspective: 600px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
/* line 12, ../sass/_bem.scss */
.card__face--back {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url(../images/logo.png) center center no-repeat white;
  background-size: contain;
}
/* line 12, ../sass/_bem.scss */
.card__face--front {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: white;
  color: #660000;
  font-family: "Lobster Two", sans-serif;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}
/* line 287, ../sass/_totalrecall.scss */
.card--flipped .card__face--back {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 290, ../sass/_totalrecall.scss */
.no-csstransforms3d .card--flipped .card__face--back {
  display: none;
}
/* line 295, ../sass/_totalrecall.scss */
.card--flipped .card__face--front {
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

/* line 304, ../sass/_totalrecall.scss */
.footer {
  display: table;
  width: 100%;
  min-height: 3rem;
  height: 6.5%;
  font-size: 2rem;
  color: white;
  background: #660000;
  box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.4);
}
/* line 5, ../sass/_bem.scss */
.footer__title {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0;
  display: none;
  vertical-align: middle;
  font-family: "Lobster Two", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 100%;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
}
/* line 12, ../sass/_bem.scss */
.footer__title--show {
  display: table-cell;
  opacity: 1;
}
/* line 5, ../sass/_bem.scss */
.footer__link {
  color: yellow;
  font-style: italic;
}
/* line 334, ../sass/_totalrecall.scss */
.footer__link:hover {
  color: red;
}
