/* NOTES:
 *   - This sass sheet uses BEM mixins 
 */


$minwidth: 600px;
$maxwidth: 960px;
$feature-font: "Lobster Two", sans-serif;
$title-font: "Cabin", sans-serif;
$feature-color: #660000;

html{
	height: 100%;
}
body {
	height: 100%;
	background: url(../images/felt.jpg) repeat;
 	font-size: 12px;
 	font-family: $title-font;
}
h2{
	font-family: $title-font;
	font-size: 1.5rem;
	color: #999;
	margin-bottom: 1rem;
}
a{
	color: white;
	text-decoration: none;
}
em{
	font-style: italic;
}


.header{
	display: table;
	width: 100%;
	height: 10%;
	min-height: 5rem;
	background: $feature-color;
	box-shadow: 0px 3px 3px rgba(0,0,0, 1);

	@include element(title){
		display: table-cell;
		vertical-align: middle;
		color: white;
		font-family: $feature-font;
		font-size: 4rem;
		font-style: italic;
		text-align: center;
		text-shadow: 2px 3px 2px rgba(0, 0, 0, .5);
	}
}

.messagebar{
	display: table;
	height: 3.5%;
	min-height: 1rem;
	width: 100%;
	background: #666;
	box-shadow: 0px 3px 3px rgba(0,0,0, .5);	

	@include element(message){
		display: table-cell;
		vertical-align: middle;
		color: white;
		text-align: center;
	}
}



.middle{
	width: 100%;
	height: 80%;
	position: relative;
}


.dialogbox{
	position: absolute;
	z-index: 99;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #111;

	@include modifier(whiteshadow){
		@include box-shadow(0px 0px 30px rgba(255,255,255,.4));
	}

	> div, > form{
		box-sizing: border-box;
		height: 100%;
		padding: 24px 30px;
		text-align: center;
	}
}



.signin{	
	background: $feature-color;
		
	@include element(title){
		margin-bottom: 1rem;
		font-family: $feature-font;
		font-size: 2.5rem;
		text-shadow: 2px 3px 2px rgba(0, 0, 0, .5);
		color: white;

		em{
			font-size: 3rem;
		}
	}
	@include element(intro){
		margin-bottom: 1rem;
		color: #ccc;
	}
	@include element(text-input){
		vertical-align: top;
		height: 40px;
		padding: 0;
		color: #333;
		font-size: 20px;
		border-radius: 5px;
		border: 1px solid #333;
	}
	@include element(submit){
		box-sizing: border-box;
		vertical-align: top;
		height: 43px;
		padding: 0 15px;
		color: white;
		background: #060;
		font-size: 20px;
		line-height: 40px;
		border-radius: 5px;
		border: 1px solid #333;
		cursor: pointer;

		&:hover{
			background: #030;
		}
	}
}



.wait{
	display: none;
	vertical-align: middle;
	background: white;

	@include element(message){
		margin: 20px 0;
	}
}


.endgame{
	display: none;
	background: $feature-color;

	@include element(message){
		color: white;
		font-family: $feature-font;
		font-size: 3.5rem;

		em{
			color: yellow;
		}
	}
	@include element(submit){
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
		height: 40px;
		padding: 0 40px;
		color: white;
		background: #060;
		font-size: 20px;
		line-height: 40px;
		border-radius: 5px;
		border: 1px solid #333;
		cursor: pointer;

		&:hover{
			background: #030;
		}		
	}	
}

.gameboard-wrapper{
	position: absolute;
	width: 100%;	
	height: 100%;
}

.gameboard{
	display: none;
	left: 0;
	right: 0;
	vertical-align: middle;
	height: 0;
	max-width: 1000px;
	min-width: 500px;
	margin: 0 auto;
	padding: 20px 0;
	text-align:center;
}


//BLOCK: Row - aggregated by gameboard
.row{
	margin-bottom: 10px;

	&:last-child{
		margin: 0;
	}
}


//BLOCK: Card - aggregated by rows
.card{
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	
	max-width: 130px;
	max-height: 200px;
	margin-right: 10px;   
	&:last-child{ margin-right: 0 }
 	
	cursor: pointer;
	opacity: 1;

	@include modifier(showing){
		cursor: default;
	}

	@include modifier(matched){
		opacity: .3;

		.card__face--front{
			cursor: default;
			color: #999;		
		}

	}

	@include element(face){
		@include backface-visibility(hidden);
		@include border-radius(10px);				
		@include perspective(600px);
		@include transform-style(preserve-3d);
		@include transition-property(transform, opacity);
		@include transition-duration(500ms);

		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		border: 1px solid #333;
		box-shadow: 3px 3px 5px rgba(0,0,0,.5);

		@include modifier(back){
			@include backface-visibility(hidden);
			background: url(../images/logo.png) center center no-repeat white;
			background-size: contain; 
		}
		@include modifier(front){
			@include transform (rotateY(180deg));
			background: white;
			color: $feature-color;
			font-family: $feature-font;	
			font-weight: bold;
			font-size: 70px;
			text-align: center;	
		}

	}

	@include modifier(flipped){
		.card__face--back{
			@include transform (rotateY(180deg));

			.no-csstransforms3d & {
				display: none; //FOR IE9 and older browsers
			}
		}

		.card__face--front{
			@include transform (rotateY(0));
		}
	}
}




.footer{
	display: table;
	width: 100%;
	min-height: 3rem;
	height: 6.5%;
	font-size: 2rem;
	color: white;
	background: $feature-color;
	box-shadow: 0px -3px 3px rgba(0,0,0, .4);

	@include element(title){
		@include transition-property(opacity);
		@include transition-duration(1s);
		opacity: 0;
		display: none;
		vertical-align: middle;
		font-family: $feature-font;
		font-size: 2.5rem;
		text-align: center;
		line-height: 100%;
		text-shadow: 2px 3px 2px rgba(0, 0, 0, .5);

		@include modifier(show){
			display: table-cell;			
			opacity: 1;
		}
	}
	@include element(link){
		color: yellow;
		font-style: italic;
		&:hover{ color: red;}
	}
}
